.logo {
    width: 385px;
    margin-left: -192px;
    padding-left: 50%;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: roboto;
}
.logo .app-name {
    font-size: 64px;
}
.tag-line {
    font-size: 28px;
    float: right;
}
